version: "3.8"
services:
  neo4j:
    image: neo4j:5.13
    container_name: neo4j
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      NEO4J_AUTH: "neo4j/test"   # change password for production
      NEO4JLABS_PLUGINS: '["apoc","graph-data-science"]'
    volumes:
      - ./import_cypher:/var/lib/neo4j/import
      - neo4j_data:/data

volumes:
  neo4j_data:
